* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

#content {
	display: flex;
}

#content div {
	flex: 1;
}

ul {
	border: 1px solid #000;
}

ul li {
	border: 1px solid gray;
	padding: 8px 16px;
}

nav {
	display: flex;
}

nav div {
	flex: 1;
	display: flex;
	justify-content: center;
}